@import "../root.css";
@import "../components/header.css";
@import "../components/searchbar.css";
@import "../components/footer.css";
@import "../components/pagenation.css";

.mypage header {
  text-align: center;
  background-color: #23b3c6;
  color: white;
  height: 4%;
}

.mypage header h3 {
  vertical-align: middle;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage__mypost {
  padding: var(--padding);
}

.mypage__mypost h3 {
  display: flex;
  align-items: center;
  color: #0a2e4f;
}

.mypage__mypost h3 img {
  padding: calc(var(--padding) / 2);
  width: 8%;
  vertical-align: middle;
}

.mypage__posts-info {
  margin: calc(var(--margin) / 2) 0;
  padding: calc(var(--padding) / 2) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--grey-light-color);
}

.mypage__mypost span {
  font-size: var(--font-small);
  margin-right: var(--margin);
}

.mypage__mypost button {
  font-size: var(--font-small);
  border: none;
  background-color: var(--dark-green);
  color: var(--white-color);
  width: 150px;
  height: 35px;
  border-radius: 5px;
}

.mypost__item li {
  list-style: none;
  margin-bottom: var(--margin);
  padding-bottom: calc(var(--margin) / 2);
  border-bottom: 1px solid var(--grey-light-color);
}

.mypost__sub-detail {
  font-size: var(--font-small);
  color: #999999;
}

.mypost__sub-detail span i {
  padding-right: calc(var(--padding) / 3);
}
