@import "../root.css";
@import "../components/header.css";
@import "../components/searchbar.css";
@import "../components/footer.css";

/* 자유게시글 - 작성 */
.section-make-post {
  padding: var(--padding) 0;
}

.section-make-post header {
  text-align: center;
  padding: var(--padding) 0;
  color: var(--white-color);
  background-color: #23b3c6;
}

.section-make-post section form {
  text-align: center;
}

.section-make-post__title {
  font-size: var(--font-medium);
  border-bottom: solid 1px var(--grey-light-color);
  margin-bottom: var(--margin);
  padding: var(--padding) 0;
}

.section-make-post__title label {
  margin: var(--margin);
}

.section-make-post__title input {
  padding: calc(var(--padding));
  border: solid 1px var(--grey-light-color);
  width: 70%;
}

.section-make-post__content textarea {
  width: 95%;
  border: solid 1px var(--grey-dark-color);
  padding: calc(var(--padding) * 2);
  margin-bottom: var(--margin);
  min-height: 350px;
}

.signup__button {
  text-align: center;
}

.signup__button button {
  font-size: var(--font-large);
  display: inline-block;
  height: 50px;
  width: 130px;
  margin: calc(var(--margin)) calc(var(--margin) / 2);
  border: none;
}

.signup__button--confirm {
  background-color: #0a2e4f;
  color: var(--white-color);
}

.signup__button--cancel {
  background-color: var(--dark-green);
  color: var(--white-color);
}
