/* 게시판 */
.board {
  padding: var(--padding) 0 var(--padding) var(--padding);
}

.board__content {
  margin-top: calc(var(--margin) / 2);
}

.board__content li {
  list-style: none;
  border-bottom: solid var(--grey-light-color) 1px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.board__content li .board__content-likes {
  width: 9%;
  text-align: center;
  color: var(--red-color);
  background-color: var(--grey-light-color);
  display: table;
}

.board__content li .board__content-likes span {
  font-size: var(--font-small);
  display: table-cell;
  vertical-align: middle;
}

.board__content-title,
.board__content-info {
  width: 300px;
}

.board__content li .board__content-title {
  list-style: none;
  padding: calc(var(--padding) / 1.5) 0;
}

.board__content li .board__content-info {
  font-size: var(--font-small);
  color: #999999;
  padding-bottom: calc(var(--padding) / 2);
}
