.title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: var(--grey-dark-color) solid 1px;
  padding-bottom: calc(var(--margin) / 2);
  margin-bottom: calc(var(--margin) / 5);
}

.search-result_posts {
  margin-bottom: calc(var(--margin) * 2);
}

.search-result_comments .content,
.search-result_posts .content {
  list-style: none;
  font-size: var(--font-medium);
  margin-bottom: calc(var(--margin));
}

.search-result_comments .content li,
.search-result_posts .content li {
  padding: calc(var(--padding) / 5) 0;
}
